/sublime2/User/*
!/sublime2/User/.gitignore
!/sublime2/User/Default*.sublime-keymap
!/sublime2/User/Global.sublime-settings
!/sublime2/User/Preferences.sublime-settings
!/sublime2/User/CoffeeScript.sublime-settings
