[submodule "vim/vim/bundle/airline"]
	path = vim/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim/bundle/html5.vim"]
	path = vim/vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "bin/copypasta"]
	path = bin/copypasta
	url = https://github.com/baitisj/copypasta.git
